.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #100e0e;
}
.quadro {
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 800px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}